{
    "database": {
        "host": "ep-winter-bar-43454327.ap-southeast-1.aws.neon.tech",
        "user": "trinitrobenzene",
        "password": "tjA3wl5VaYgD",
        "database": "neondb"
    },
    "database_type": "postgres"
}
